header {
    height: 100px;
    width: 98%;
    background: #ebebeb;
    text-align: center;
    padding: 10px;
    margin: 5px;
    border: 2px;
    float: center
}

nav {
    height: 100px;
    width: 98%;
    background: #ebebeb;
    text-align: center;
    padding: 10px;
    margin: 5px;
    float: center;
}
aside {
    height: 400px;
    width: 40%;
    background: lightgray;
    text-align: center;
    padding: 10px;
    margin: 5px;
    float: right
}

section {
    height: 400px;
    width: 495px;
    background: #ebebeb;
    text-align: center;
    padding: 10px;
    margin: 5px;
    float: left;
}

footer {
    clear: both;
    margin-bottom: 0;
    height: 100px;
    width: 98%;
    padding: 10px;
    margin: 5 px;
    background: #ebebeb
}

article {
    position: absolute;
    top: 48%;
    height: 200px;
    width:45%;
    padding: 5px;
    margin: 5px;
    background: #777;
    color: #ebebeb;
}

h2 {
    background:lightgray;
    height: 40px;
    width: 40%;
    position: absolute;
    top: 50%;
    left: 5%;
    padding: 10px;
    border: 5px;
    color: #777;
    background: #ebebeb;
}
p {
    position: absolute;
    height: 40px;
    width: 40%;
    background: lightgray;
    top: 58%;
    left: 5%;
    padding: 10px;
    border: 5px;
    background: #ebebeb;
    color: #777;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
}